{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="{% static 'static/css/base.css' %}" rel="stylesheet" />
</head>
<body>

  {% include "components/navbar.html" %}
  <div>Login Form: </div>
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="userid">User ID: </label>
    <input id="login_userid" type="text" name="userid" value="">
    <label for="password">Password: </label>
    <input id="login_password" type="text" name="password" value="">
    <input type="submit" value="Login">
  </form>
   <hr />
  <div>Registration Form: </div>
  <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <label for="username">User Name: </label>
    <input id="register_username" type="text" name="username" value="">
    <label for="password">Password: </label>
    <input id="register_name" type="text" name="password" value="">
    <input type="submit" value="Register">
  </form>

</body>
</html>