{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Page</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
</head>
<body>
    {% include "components/navbar.html" %}
    {% if message_list %}
    <h1>Messages in Thread {{ message_list.0.threadid }}</h1>
        {% for message in message_list %}
        <div class="border">
        <h3>Title: {{message.title}}</h3>
        <div>Author id: {{message.authorid}}</div>
        <div>Author name: {{message.username}}</div>
        <p>Message id: {{message.messageid}}</p>
        <div>body: {{message.textbody}}</div>
        </div>
        {% endfor %}
    {% endif %}
    <div>Reply to Message id: </div>
    <form action="{% url 'reply_message' threadid=message_list.0.threadid %}" method="post">
        {% csrf_token %}
        <input id="reply_to" type="text" name="reply_to" value="">
        <div>Reply text: </div>
        <input id="reply_text" type="text" name="reply_text" value="">
        <input type="submit" value="Reply">
    </form>
</body>
</html>
