{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Block Page</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
</head>
<body>
    {% include "components/navbar.html" %}
    {% if application_list %}
        {% for application in application_list %}
        <div class="border">
            <div>applicant id: {{application.userid}}</div>
            <div>application id: {{application.applicationid}}</div>
            <button class="approve-btn" applicantid="{{application.userid}}">Approve</button>
        </div>
        {% endfor %}
    {% endif %}
</body>
</html>
  