{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link href="{% static 'static/css/base.css' %}" rel="stylesheet" />
</head>
<body>
  {% include "components/navbar.html" %}
  <form action="{% url 'update_profile' %}" method="post">
    {% csrf_token %}
    <div>User ID: {{profile_info.userid}}</div>
    <div>Block ID: {{profile_info.blockid}}</div>
    <label for="password">User Name: </label>
    <input id="password" type="text" name="username" value="{{profile_info.username}}">
    <label for="password">Profile: </label>
    <input id="password" type="text" name="profile" value="{{profile_info.profile}}">
    <input type="submit" value="Change Profile">
  </form>
</body>