{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thread page</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
</head>
<body>
    {% include "components/navbar.html" %}
    {% include "components/threadbar.html" %}
    <center><h1>All Threads</h1></center>
    <h2>Neighbor Threads</h2>
    <ul>
        {% for thread_neighbor in thread_list.thread_neighbor %}
        <li>
            <strong>Thread ID:</strong> {{ thread_neighbor.threadid }} <br>
            <strong>Subject:</strong> {{ thread_neighbor.subject }} <br>
            <strong>Publisher ID:</strong> {{ thread_neighbor.publisherid }} <br>
            <button class="message-btn" threadid="{{ thread_neighbor.threadid }}">Details</button>
            <hr />
        </li>
    {% endfor %}
    </ul>
    <hr />
    <hr />
    <hr />
    <h2>Friend Threads</h2>
    <ul>
        {% for thread_friend in thread_list.thread_friends %}
        <li>
            <strong>Thread ID:</strong> {{ thread_friend.threadid }} <br>
            <strong>Subject:</strong> {{ thread_friend.subject }} <br>
            <strong>Publisher ID:</strong> {{ thread_friend.publisherid }} <br>
            <button class="message-btn" threadid="{{ thread_friend.threadid }}">Details</button>
            <hr />
        </li>
    {% endfor %}
    </ul>
    <hr />
    <hr />
    <hr />
    <h2>Followed Blocks Threads</h2>
    <ul>
        {% for thread_block in thread_list.thread_blocks %}
        <li>
            <strong>Thread ID:</strong> {{ thread_block.threadid }} <br>
            <strong>Subject:</strong> {{ thread_block.subject }} <br>
            <strong>Publisher ID:</strong> {{ thread_block.publisherid }} <br>
            <button class="message-btn" threadid="{{ thread_block.threadid }}">Details</button>
            <hr />
        </li>
    {% endfor %}
    </ul>
    <hr />
    <hr />
    <hr />
    <h2>Followed Hoods Threads</h2>
    <ul>
        {% for thread_hood in thread_list.thread_hoods %}
        <li>
            <strong>Thread ID:</strong> {{ thread_hood.threadid }} <br>
            <strong>Subject:</strong> {{ thread_hood.subject }} <br>
            <strong>Publisher ID:</strong> {{ thread_hood.publisherid }} <br>
            <button class="message-btn" threadid="{{ thread_hood.threadid }}">Details</button>
            <hr />
        </li>
    {% endfor %}
    </ul>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'scripts/block_detail.js' %}"></script>
</body>
</html>
  