{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thread page</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
</head>
<body>
    {% include "components/navbar.html" %}
    {% include "components/threadbar.html" %}
    <h2>Friend Threads</h2>
    <ul>
        {% if thread_list.thread_friends %}
            {% for thread_friend in thread_list.thread_friends %}
            <li>
                <strong>Thread ID:</strong> {{ thread_friend.threadid }} <br>
                <strong>Subject:</strong> {{ thread_friend.subject }} <br>
                <strong>Publisher ID:</strong> {{ thread_friend.publisherid }} <br>
                <button class="message-btn" threadid="{{ thread_friend.threadid }}">Details</button>
                <hr />
            </li>
            {% endfor %}
        {% else %}
            <p>Nothing found for this thread.</p>
        {% endif %}
    </ul>
    <hr />
    <hr />
    <hr />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'scripts/thread_detail.js' %}"></script>
</body>
</html>
