{% load static %}
<div>
  <ul class="navbar-nav ml-auto flex-row justify-content-around">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'enter_page' %}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'profile_page' %}">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'search_page' %}">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'my_block_page' %}">Application to My Block</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'block_page' %}">Blocks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'thread_page' %}">Threads</a>
    </li>
  </ul>
</div>