{% load static %}
<div>
  <ul class="navbar-nav ml-auto flex-row justify-content-around">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'thread_page' %}">All Threads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'thread_page_neighbor' %}">Neighbor Threads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'thread_page_friend' %}">Friend Threads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'thread_page_followed' %}">Followed Threads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'thread_page_my' %}">My Block and Hood Threads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'thread_page_new' %}">New Threads</a>
    </li>
  </ul>
</div>